# Directorios de compilación y librerías locales
.pio/
.vscode/
lib/README
include/README

# Carpeta de recursos (Sprites originales y archivos de diseño)
res/

# Archivos de sistema o temporales
.DS_Store
Thumbs.db
*.zip
*.piskel